.bg-img {
  background-image: url("/public/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-col {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
