@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b313e9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b74fda;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
